# Ignorowanie katalogu node_modules i plików build
node_modules/
.next/
out/

# Pliki konfiguracyjne i środowiskowe
.env.local
.env
firebase.json

# Logi i cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pliki edytorów
.vscode/
.idea/
